#namee {
  text-align: center;
  border: 1px solid gray;
  width: 50%;
  margin: auto;
  border-radius: 30px;
  background-color: gray;
}

#lastName {
  text-align: center;
  width: 40%;
  margin: 10px auto;
  background-color: lightslategray;
  padding: 20px;
  border-radius: 30px;
}
